div(layout = "column" layout-align = "center center" ng-hide="recommendations")
    div(layout = "row" layout-align="center center" )
        span(flex)
        h1.md-display-3 {{question}}
        span(flex)
    div(layout="row" ng-show="type === 'boolean'")
        md-button.md-accent.md-raised(ng-click='logAnswer(true);getQuestion()') Yes
        md-button.md-accent.md-raised(ng-click='logAnswer(false);getQuestion()') No
    div.md-padding(layout = "row" ng-show="questionNum == 0" layout-align = "center start" flex="50")
        md-autocomplete(
            md-selected-item-change="pushAnswer(data.answer.display)"
            md-selected-item="data.answer"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Enter a Language"
            flex="50"
            )

            md-item-template
                span(md-highlight-text="searchText" md-highlight-flags="^i") {{item.display}}
    div(layout="row" layout-align="space-between center")
        md-chips(ng-show="data.showAnswers" ng-model="answers")
            md-chip-template
                span {{$chip}}
        md-button.md-accent.md-raised(ng-show="data.showAnswers" ng-click="logAnswer(answers);getQuestion()") Submit
        //div(layout="row" ng-show="type === 'list' && questionNum > 0")
        div(layout="row" layout-align="space-between center" flex ng-show="type === 'list' && questionNum > 0")
            md-input-container(ng-repeat="item in list")
                input(type ="button" ng-model="data.answer" value = "{{item}}" ng-click="logAnswer(item);getQuestion()" aria-label="nolabel" class="md-button md-raised md-primary")
md-button.md-accent.md-raised(ng-show="recommendations" ng-click="deleteQuestionnaire()") Retake the Questionnaire

//div(ng-show="recommendations[0].countryName") Top Recommended Countries
//    div(ng-repeat="country in recommendations")
//        a(href="/country" ng-click="setCountryPage(country.countryName)") {{country.countryName}}

